body {
  font-family: Helvetica,Arial,sans-serif;
}

span.logo-main {
  color: #C81039;
}
span.logo-bold {
  font-weight: bold;
  color: #C81039;
}

result {
  width: 100%;
  display: block;
  padding: 10px;
}

result:nth-of-type(odd) {
  background-color: lightgrey;
}
